language: node_js
node_js:
  - "lts/*"
cache:
  directories:
    - "~/.npm"
notifications:
  email:
    recipients:
      - kchaudhry@edx.org
    on_success: never
    on_failure: always
  on_success: never
before_install:
  - npm install -g npm@latest
  - npm install -g greenkeeper-lockfile@1.14.0
install:
  - npm ci
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
script:
  - npm run lint
  - npm run cy:run
